node_modules

/.cache
/functions/\[\[path\]\].js
/functions/\[\[path\]\].js.map
/functions/metafile.*
/functions/version.txt
/public/build
.dev.vars
.env
.wrangler
wrangler.toml
/build/client
/build/server
.react-router/
.llm-context/
drizzle.config.local.ts
bun.lockb
*.tsbuildinfo